<!doctype html>
<html class="no-js" lang="en" ng-app="sigmaApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sigma Metals</title>
    <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <link rel="stylesheet" href="assets/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="bower_components/Buttons/css/buttons.min.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="js/capabilities.js" type="text/javascript"></script>
  </head>
  <body>
    <div>
      <a name="top"></a>
      <div class="quarter-transparent screen-size-height">
        <nav class="top-bar transparent show-for-medium-up" data-topbar="">
          <section class="top-bar-section">
            <ul class="left">
              <li>
                <img src="assets/logo.png" class="logo logoFadeIn"/>
              </li>
            </ul>
            <ul class="right transparent top-nav-section">
              <li class="transparent navFadeIn">
                <a href="#about" class="transparent">
                  About Us
                </a>
              </li>
              <li class="slashes squeeze-between navFadeIn">/</li>
              <li class="transparent navFadeIn">
                <a href="#capabilities" class="transparent blacken-font">
                  Capabilities
                </a>
              </li>
              <li class="slashes squeeze-between navFadeIn">/</li>
              <li class="transparent navFadeIn">
                <a href="#quote" class="transparent blacken-font">
                  Ask for a Quote
                </a>
              </li>
            </ul>
          </section>
        </nav>
        <div class="row vertical-centered headingFadeIn" id="site-title">
          <div class="large-6 medium-9 small-12 columns small-centered">
            <div class="small-7 columns small-centered show-for-small-only">
              <img src="assets/logo.png" class="logoFadeIn show-for-small-only"/>
            </div>
            <h1 class="titling mobile-v-centered">
              <span class="blacken-font white">Turn Key Solutions</span>
            </h1>
            <h2 class="squeeze-top sub-titling">
              <span class="thin-font white"><em>for</em></span> <span class="blacken-font white">Full Custom Metalwork</span>
            </h2>
          </div>
            <div class="small-12 medium-7 columns small-centered squeeze-top">
              <img src="assets/break.png"/>
            </div>
            <div class="small-12 medium-6 columns small-centered">
              <p class="white thin-font capabilities">DESIGN / CNC MACHINERY / ASSEMBLY / PAINTING / FINISHING</p>
            </div>
            <div class="small-12 columns show-for-small-only down-arrow-main">
              <div class="small-3 columns small-centered">
                <a href="#about">
                  <button class="button button-large button-plain button-border button-circle text-center"><i class="fi-arrow-down"></i></button>
                </a>
              </div>
            </div>
        </div>

      </div>
    </div>
    <video autoplay loop poster="assets/item.jpg" id="bgvid" class="show-for-medium-up bgvid">
      <source src="assets/amada1.webm" type="video/webm">
      <source src="assets/amada1.mp4" type="video/mp4">
    </video>
    <video autoplay loop poster="assets/item.jpg" id="bgvid" class="show-for-small-only bgvid">
    </video>
    <!-- SECTION 2 -->
    <div class="section" id="mapping" name="about">
      <!-- TIME TO GO MOBILE -->
        <div class="medium-6 columns height-800px" id="map">
          <a name="about"></a>
          <div class="small-12 medium-6 columns transluscent-white show-for-small-only padding-top-bot ">
            <div class="small-10 medium-9 columns small-centered padding-top padding-bottom">
              <h1 class="heading-colour"><span class="thin-font">About</span> <span class="blacken-font">Sigma</span></h1>

              <p class="text-justify">
                Founded in 2010, Sigma Metals is a Brampton, Ontario based sheet metal fabricator. We always look forward to providing you outstanding quality of service and quality manufacturing.
              </p>
              <p class="text-justify">
                We're here to provide turnkey solutions, and we can be your one stop shop between your blueprints and your end product.
              </p>
              <p class="text-justify">
                As a result, for us our customers are also our partners. With this state of mind, we're committed to provide each of our clients the same high quality service.
              </p>
              <p class="text-justify">
                Ultimately, we are dedicated in providing you quality products using state of the art technologies and production methedologies. Our engineering expertise and our CNC machinery provide for a competitive edge in the world of precision metalwork.
              </p>
            </div>
            <div class="small-12 columns show-for-small-only down-arrow-about">
              <div class="small-2 columns small-centered">
                <a href="#capabilities">
                  <button class="button button-large button-plain button-border button-circle text-center"><i class="fi-arrow-down"></i></button>
                </a>
              </div>
            </div>
        </div>
      </div>
      <div class="small-12 medium-6 columns height-600px bg-white show-for-medium-up">
        <div class="small-10 medium-9 columns small-centered margin-top">
          <h1 class="heading-colour"><span class="thin-font">About</span> <span class="blacken-font">Sigma</span></h1>

          <p class="text-justify">
            Founded in 2010, Sigma Metals a Brampton, Ontario based sheet metal fabricator. We always look forward to providing you outstanding quality of service and quality manufacturing.
          </p>
          <p class="text-justify">
            We're here to provide turnkey solutions, and we can be your one stop shop between your blueprints and your end product.
          </p>
          <p class="text-justify">
            As a result, for us our customers are also our partners. With this state of mind, we're committed to provide each of our clients the same high quality service.
          </p>
          <p class="text-justify">
            Ultimately, we are dedicated in providing you quality products using state of the art technologies and production methedologies. Our engineering expertise and our CNC machinery provide for a competitive edge in the world of precision metalwork.
          </p>
        </div>
      </div>
    </div>
    <div ng-controller="SigmaController as sigma">
        <div class="small-12 medium-6 columns height-600px small-{{sigma.picture[sigma.pictureIndex].name}} remove-sides screen-size-height" ng-init="sigma.pictureIndex = 0">
          <div class="transluscent-white full-width">
            <div class="small-12 medium-9 columns small-centered">
              <a name="capabilities"></a>
              <h1 class="heading-colour text-right pad-top"><span class="thin-font">Our</span> <span class="blacken-font">Capabilities</span></h1>
              <ul class="tabs right" data-tab>
                <li class="tab-title {{sigma.picture[0].tab}}"><a ng-click="sigma.switcheroo(0)">Materials</a></li>
                <li class="tab-title {{sigma.picture[1].tab}}"><a ng-click="sigma.switcheroo(1)">Machinery</a></li>
                <li class="tab-title {{sigma.picture[2].tab}}"><a ng-click="sigma.switcheroo(2)">Industries</a></li>
              </ul>
              <div class="tabs-content right">
                <div class="content active" id="panel1">
                  <p class="text-justify small-12 medium-8 right text-justified">
                    {{sigma.picture[sigma.pictureIndex].content}}
                    <br/>
                    <span class="radius secondary label padded" ng-repeat="item in sigma.picture[sigma.pictureIndex].items">{{item}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="small-12 columns show-for-small-only down-arrow">
              <div class="small-3 columns small-centered">
                <a href="#quote">
                  <button class="button button-large button-plain button-border button-circle text-center margin-top-50"><i class="fi-arrow-down"></i></button>
                </a>
              </div>
            </div>
          </div>
        </div>

      <div class="medium-6 columns no-padding">
        <div class="{{sigma.picture[sigma.pictureIndex].name}} height-600px show-for-medium-up">
          <!-- To Remain Empty -->
        </div>
      </div>
    </div>

    <!-- Section 3 -->
    <div class="section" id="mapping">
      <div class="medium-6 columns show-for-medium-up" id="sigma">

      </div>
      <div class="small-12 medium-6 columns height-600px bg-white small-illusion remove-sides screen-size-height" name="quote">
        <!--<a name="quote"></a>-->
        <div class="small-10 medium-9 columns small-centered margin-top">
          <h1 class="heading-colour small-white"><span class="thin-font">Ask for a</span> <span class="blacken-font">Quote</span></h1>
          <p class="text-justify small-white margin-bottom">
            If you are looking for a quote, you may call or email us at:
          </p>
          <div class="small-12 columns button-margin">
            <a href="tel:19058462700"><button class="button button-action button-circle button-large margin-left"><i class="fi-telephone large"></i></button></a>
            <span class="padding-left small-white">(905) 846-2700</span>
          </div>
          <div class="small-12 columns button-margin">
            <a href="mailto:rfq@sigmametals.ca"><button class="button button-action button-circle button-large margin-left"><i class="fi-mail large"></i></button></a>
            <span class="padding-left small-white">rfq@sigmametals.ca</span>
          </div>
        </div>
        <div class="small-12 columns show-for-small-only down-arrow">
          <div class="small-2 columns small-centered">
            <a href="#footer">
              <button class="button button-large button-plain button-border button-circle small-centered squeeze-top-more"><i class="fi-arrow-down"></i></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-footer small-blue small-12 columns">
      <div class="small-12 columns">
        <div class="small-12 medium-3 columns small-centered">
          <img src="assets/break.png"/>
        </div>
      </div>
    </div>
    <footer class="footer small-blue small-12 columns small-screen-size-height">
      <a name="footer"></a>
      <div>
        <div class="small-12 medium-3 large-2 columns">
          <h4 class="medium-text-left">We are at</h4>
          <address class="medium-text-left thin-font">
            52 Van Kirk Drive,<br/>
            Brampton ON,<br/>
            L7A 1B1<br/>
            Tel: (905) 846-2700<br/>
            Fax: (905) 846-2600<br/>
          </address>
        </div>
        <div class="small-12 medium-3 large-2 columns end">
          <h4 class="medium-text-left">Message Us</h4>
          <ul class="footer-links medium-text-left">
            <li><a href="mailto:utailor@sigmametals.ca" class="thin-font">Umesh Tailor</a></li>
            <li><a href="mailto:btopiwala@sigmametals.ca" class="thin-font">Bhavesh Topiwala</a></li>
            <li><a href="mailto:jtopiwala@sigmametals.ca" class="thin-font">Jitesh Topiwala</a></li>
          <ul>
        </div>
      </div>

      <!-- Mobile Arrow Up -->
      <div class="small-12 columns show-for-small-only down-arrow">
        <div class="small-3 columns small-centered">
          <a href="#top">
            <button class="button button-large button-plain button-border button-circle small-centered squeeze-top-more"><i class="fi-arrow-up small"></i></button>
          </a>
        </div>
      </div>
    </footer>
    <!--
    <div class="clearfix">
      <div class="section illusion longer">
        <div class="row">
          <div class="small-10 medium-4 columns small-centered margin-top">
            <h1 class="white"><span class="thin-font">Ask for a</span> <span class="blacken-font">Quote</span></h1>
          </div>
        </div>
      </div>
    </div>-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
          }
        });
      });

      $(document).ready(function() {
        $('.logoFadeIn').fadeIn(1500);
        $('.navFadeIn').delay(500).fadeIn(1500);
        $('.headingFadeIn').delay(1000).fadeIn(1500);
        $('.arrowFadeIn').delay(1500).fadeIn(1500);
      });

    </script>
  </body>
</html>
